:root {
  --primary-color: #0dcaf0;
  --secondary-color: #e6f0f7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

body {
  margin-top: 100px;
  background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}

h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  font-size: 18px;
  line-height: 1.5;
}

.navigationLinks {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.contactMe-link,
.aboutMe-link {
  padding: 20px 15px;
  border-radius: 4px;
}

.contactMe-link {
  background: var(--primary-color);
  border: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  margin-right: 20px;
}

.aboutMe-link {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin-right: 20px;
}

.col-md-6 {
  margin: 0;
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
}

.aboutMeParagraphs {
  margin: 40px 10px;
}

.contactMe {
  margin-top: 50px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  body {
    display: block;
    margin: 70px auto;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }

  .mobile-device-button-style {
    font-size: 12px !important;
    padding: 15px 10px;
  }

  .project-container {
    margin-top: 10px !important;
  }

  .col-md-6 {
    font-size: 14px;
    margin: 0;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .mobile-device-style {
    text-align: center;
    margin: 30 10px;
    font-size: 14px;
  }

  .croissant-app-row-mobile-style,
  .weather-app-row-mobile-style {
    margin: 30px 20px;
  }

  .purrfect-relaxation-app-mobile-style {
    margin: 0 0 0 20px;
    padding: 0;
  }

  .images-index-page {
    display: none;
    margin: 0 auto;
  }

  .about-me-headingOne {
    font-size: 30px;
  }
  .aboutMeParagraphs {
    font-size: smaller;
    margin: 30px;
  }

  .images-aboutMePage {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .email-link {
    font-size: 12px;
  }
}
