:root {
  --primary-color: #0d6efd;
  --secondary-color: #e6f0f7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

body {
  margin-top: 100px;
}

a {
  text-align: center;
  display: block;
  color: var(--primary-color);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigationLinks {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.contactMeLink,
.goToAboutMeLink {
  margin: 10px;
  padding: 20px;
}

.contactMeLink {
  background: var(--primary-color);
  border: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  text-decoration: none;
}

.goToAboutMeLink {
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
}

.heading-apps {
  text-align: left;
}

.aboutMeParagraphs {
  display: flex;
  margin: 30px 0;
}

.aboutMeParagraphs p {
  margin: 10px;
}

.emailLink {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
